.header {
    background-color: #db4c3f;
    height: 44px;
    display: flex;
    align-items: center;
    .title {
        font-size: 24px;
        color: #ffffff;
        margin-left: 20px;
    }
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    ul {
        margin-left: 0;
        padding-left: 0;
        width: 560px;
        li {
            list-style-type: none;
            .todo_card {
                display: flex;
                align-items: center;
                justify-content: space-between;
                min-height: 36px;
                border-bottom: 1px solid #f1f1f1;
                .complited {
                    text-decoration: line-through;
                    color: #333;
                }
                .btn_del {
                    border-radius: 50%;
                    margin-left: 20px;
                    height: 20px;
                    width: 20px;
                }
            }
           }
    }
    .add_task_block {
        display: flex;
        justify-content: center;
        .input_text {
            border: 1px solid rgba(0,0,0,.50);
            height: 24px;
            border-radius: 2px;
            outline: none;
            font-size: 16px;
            &:first-child {
                margin-right: 15px;
            }
        }
        .btn_add_task {
            background: 0;
            background-color: #db4c3f;
            color: #fff !important;
            text-shadow: none;
            border: 1px solid transparent;
            padding: 6px 12px 7px 12px;
            border-radius: 3px;
            margin-left: 15px;
        }
    }
    
}